* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: black;
  color: white;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.box-1 {
  background-color: rgb(70, 70, 70);
  width: 450px;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}
img {
  background-size: cover;
  background-position: center;
  object-fit: cover;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-block: 10px;
}

h2 {
  padding-block: 10px;
}

h3 {
  padding-block: 10px;
}

p {
  padding-block: 10px;
}

.list {
  padding-left: 20px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

button {
  padding-inline: 30px;
  padding-block: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}
