@font-face {
  font-family: Random;
  src: url(./Playwrite_NZ_Basic_Guides//PlaywriteNZBasicGuides-Regular.ttf);
}

* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 30px;
}

.division {
  width: 100%;
  height: 100px;
  background-color: rgb(145, 145, 226);
  margin-bottom: 10px;
}

span {
  width: 100%;
  height: 100px;
  background-color: rgb(180, 180, 180);
  margin-bottom: 10px;
}

p {
  font-size: 30px;
  font-family: Random;

  font-weight: 100;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
