* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: black;
  color: white;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.box-1 {
  height: 200px;
  width: 200px;
  background-color: red;
  display: inline-block;
}
.box-2 {
  height: 200px;
  width: 200px;
  background-color: rgb(37, 170, 146);
  display: inline-block;
  margin-left: 20px;
}

.span-1 {
  height: 200px;
  width: 200px;
  background-color: green;
  display: block;
}

.span-2 {
  height: 200px;
  width: 200px;
  background-color: yellow;
  color: black;
  display: block;
}

.div-container {
  height: 90%;
  width: 90%;
  background-color: rgb(28, 28, 28);
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}

.div-1 {
  height: 200px;
  width: 200px;
  background-color: red;
}
.div-2 {
  height: 200px;
  width: 200px;
  background-color: green;
}
.div-3 {
  height: 200px;
  width: 200px;
  background-color: blue;
}
