* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: black;
  color: white;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

html {
  font-size: 20px;
}
/*
.box {
  height: 600px;
  width: 100%;
  font-size: 20px;
  background-color: rgb(165, 134, 194);
}

.innerBox {
  background-color: rgb(172, 221, 122);
  font-size: 2em;
}

.innerInnerBox {
  background-color: rgb(234, 169, 122);
  font-size: 2em;
}

#innerP {
  font-size: 2rem;
} */

.box {
  height: 40vh;
  width: 50vh;
  background-color: rgb(166, 99, 228);
}
.box2 {
  height: 70%;
  width: 50vw;
  background-color: rgb(99, 235, 103);
}

nav {
  width: 50vw;
  height: 20px;
  background-color: red;
}
