/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: system-ui, sans-serif;
  background: #111;
  color: white;
}

/* HEADER */
header {
  background: #1e1e1e;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}
nav i {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  display: none;
}

/* HERO SECTION */
.hero {
  padding: 60px 20px;
  text-align: center;
  background: #222;
}

.hero h2 {
  font-size: 5rem;
  margin-bottom: 10px;
}
.hero p {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* PROJECT SECTION */
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 40px 20px;
}

.card {
  background: #2a2a2a;
  padding: 40px;
  text-align: center;
  border-radius: 8px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #1e1e1e;
}

/* ================= MEDIA QUERIES ================= */

/* Tablet */
@media (max-width: 992px) {
  header {
    /* flex-direction: column; */
    /* align-items: flex-start; */
    display: flex;
    justify-content: space-between;
  }

  nav {
    margin-top: 10px;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 600px) {
  header {
    text-align: center;
    display: flex;
    justify-content: space-between;
  }

  nav {
    display: flex;
    width: 100%;
  }

  nav a {
    display: none;
  }
  nav i {
    margin: 10px 0;
    margin-left: 90%;
    display: block;
  }

  .hero h2 {
    font-size: 1.5rem;
  }

  .projects {
    grid-template-columns: 1fr;
  }
}
