* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: rgb(251, 251, 251);
  color: rgb(0, 0, 0);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

video {
  margin-top: -100px;
  margin-bottom: -10px;
}

.p1 {
  background-color: rgb(227, 151, 151);
}
.p2 {
  background-color: rgb(151, 174, 213);
}
.p3 {
  background-color: rgb(82, 107, 165);
}
.p4 {
  background-color: rgb(215, 154, 214);
}
